@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Baloo+Tammudu+2&display=swap');


*{
	padding: 0;
	margin: 0;
}
body{
	background-color: #afadff;
}

.container1{
	width: 290px;
	background-color: white;
	margin-right: auto;
	margin-left: auto;
	margin-top: 6%;
	box-shadow: 2px 0px 15px #000;
	border-radius: 2px;
	padding: 5px;
}
#heading{

	padding: 10px 0px;
	margin: 0px 40px 28px 30px;
	
}
hr{
	border: .8;
	background-color: #8ba1a3;
	margin: 20px 0px 0px 0px;
}
h2{
	font-size: 20px;
	font-family: 'Noto Sans JP', sans-serif;
	font-weight: 1000;
}

#tbox{
	display: inline-block;
}
#tbox> #fname, #lname{
	width: 86px;
	margin-left: 30px;
	font-size: 13px;
	padding: 10px;
	background-color: #f0f0f0;
	border: 0;
	outline: none;
}
#tbox>#fname:hover,#lname:hover{
	background-color: #d4d2d2;
}
#tbox> #lname{
	margin-left: 8px;
}
.textbox{
	margin: 5px 0px 5px 30px;
	font-size: 16px;
	
}
strong{
	color: red;
}

.textbox>input{
	width: 205px;
	font-size: 13px;
	padding: 10px;
	background-color: #f0f0f0;
	border: 0;
	outline: none;
}
.textbox>input:hover{
	background-color: #d4d2d2;
}
.submitbtn>input{
	
	background-color: #6966fa;
	width: 110px;
	color: white;
	border: 0;
	font-size: 14px;
	padding: 10px;
	margin: 5px 30px 18px 30px;
	border-radius: 2px;
}
.submitbtn>input:hover{
	cursor: pointer;
	background-color: #5a57f2;
}
p{
	font-family:monospace;
	text-align: center;
	padding-bottom: 6px;
}

a:link {
	color: royalblue;
	text-decoration: none;
	
}

a:visited {
	color: blueviolet;
}

a:active {
	color: orange;
}

a:hover {
	color: blue;
}